.spc{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #000;
  opacity: .5;
  z-index: 10;
}
.spin{
  margin-top: 40vh;
}
.text{
  color: #ffffff;
}
.loding{
  display: inline-block;
  height: 1em; line-height: 1;
  text-align: left;
  vertical-align: -.25em;
  overflow: hidden;
}
.loding:before{
  display: block;
  content: '...\A..\A.';
  white-space: pre-wrap;   /* 也可以是white-space: pre */
  animation: dot 3s infinite step-start both;
}
@keyframes dot {
  33% { transform: translateY(-2em); }
  66% { transform: translateY(-1em); }
}
